extends template/new-game

block field
    .input-field.col.s12
        i.material-icons.prefix perm_identity
        input#friend.validate(type="text", length="10")
        label(for="friend") Пригласить друга