# Created by http://www.gitignore.io
 
### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
/.idea/
Kalah.iml
/.gitignore
*

/src/main/webapp/app

!/src/main/webapp/src/**/*
!/src/main/webapp/bower.json
!/src/main/webapp/gulpfile.js
!/src/main/webapp/package.json
!/src/main/webapp/readme.md

/src/main/webapp/.idea/*
/src/main/webapp/app/
