# Created by http://www.gitignore.io
 
### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
/src/main/webapp/.idea/
/src/main/webapp/app/
/src/main/webapp/node_modules/
/src/main/webapp/js/
/src/main/webapp/css/
/src/main/webapp/fonts/
/src/main/webapp/img/
/src/main/webapp/*.html
/src/main/webapp/bower_components/
/untitled/
/target/
/src/main/node_modules/
/inspection/
.idea

/.gitignore
