extends layout

block title
    title #{title} | Список игр

block content
    -var games = [{name: "Alex", count: "12/8"}, {name: "Alex", count: "12/8"}, {name: "Alex", count: "12/8"},{name: "Alex", count: "12/8"},{name: "Alex", count: "12/8"},{name: "Alex", count: "12/8"},{name: "Alex", count: "12/8"},{name: "Alex", count: "12/8"},{name: "Alex", count: "12/8"}]
    .game-list
        .container
            .row
                h1 Список игр
            .row
                    table.highlight.centered
                        thead
                            tr
                                th №
                                th Противник
                                th Камни/Лунки
                        tbody
                            - each val, index in games
                                tr
                                    td #{index + 1}
                                    td #{val.name}
                                    td #{val.count}
            .row
                .col.s12
                    a.btn.waves-effect.waves-light(href="#") Создать свою игру
                        i.material-icons.right send