extends layout




block title
    title #{title} | Войти

block content
    .login
        .inner.container
            .row
                h1 Войти
            .row
                form
                    .input-field.col.s12
                        i.material-icons.prefix perm_identity
                        input#name.validate(type="text", length="10")
                        label(for="name") Имя

                    .input-field.col.s12
                        i.material-icons.prefix vpn_key
                        input#password.validate(type="password")
                        label(for="password") Пароль

                    .col.s12
                        button.btn.waves-effect.waves-light(type="submit" name="action") Войти
                            //i.material-icons.right send


