extends layout




block title
    title #{title} | Регистрация

block content
    - var icons_array = [{icon_name: "Terminator", icon_link: baseUrl+"assets/icons/terminator.jpg"}, {icon_name: "Marcus", icon_link: baseUrl+"assets/icons/marcus.jpg"}]
    .registration
        .container
            .row
                h1 Регистрация
            .row
                form
                    .input-field.col.s12
                        i.material-icons.prefix perm_identity
                        input#name.validate(type="text", length="10")
                        label(for="name") Имя

                    .input-field.col.s12
                        i.material-icons.prefix vpn_key
                        input#password.validate(type="password")
                        label(for="password") Пароль

                    .input-field.col.s12
                        i.material-icons.prefix vpn_key
                        input#re-password.validate(type="password")
                        label(for="re-password") Повторите пароль

                    .input-field.col.s12
                        i.material-icons.prefix email
                        input#email.validate(type='email')
                        label(for="email" data-error="Неверный адрес email" data-success="OK") Email

                    .input-field.col.s12
                        i.material-icons.prefix account_circle
                        select#icons.icons
                            option(disabled, selected) Выберите аватар
                            each icon in icons_array
                                option(value="", data-icon=icon.icon_link).left.circle #{icon.icon_name}
                        label(for="icons") Аватар

                    .col.s12
                        button.btn.waves-effect.waves-light(type="submit" name="action") Зарегистрироваться
                            i.material-icons.right send

                        //<button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        //<i class="material-icons right">send</i>
                        //</button>
                        //
