<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/kalah</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">postgres</property>
    <property name="show_sql">true</property>
    <property name="hibernate.order_updates">true</property>
    <mapping class="com.pesikovlike.kalah.model.entity.Avatar"/>
    <mapping class="com.pesikovlike.kalah.model.entity.GameState"/>
    <mapping class="com.pesikovlike.kalah.model.entity.Hole"/>
    <mapping class="com.pesikovlike.kalah.model.entity.User"/>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>