.slider {
  @include background-img('../img/slider.jpg', true);

  color: $font-color;

  height: 92vh;
  //width: 100vw;

  .inner {
    text-align: center;
    padding-top: 35vh;

    a.btn-large {
      background-color: $primary-color;
      margin: 1vw;
      width: 200px;
    }
  }
}

.vs-menu {
  margin: 5px 0;
  height: 100vh;
  //width: 100vw;

  @mixin shape-outside-polygon($x1, $y1, $x2, $y2, $x3, $y3, $x4, $y4) {
    shape-outside: polygon($x1 $y1, $x2 $y2, $x3 $y3, $x4 $y4);
    clip-path: polygon($x1 $y1, $x2 $y2, $x3 $y3, $x4 $y4);
  }

  .left {
    @include shape-outside-polygon(0, 0, 0, 100%, 40%, 100%, 60%, 0);
    float: left;

    h2 {
      text-align: left;
      margin-left: 10vw;
      padding-top: 35vh;
    }
  }

  .right {
    @include shape-outside-polygon(40%, 100%, 60%, 0, 100%, 0, 100%, 100%);
    float: right;

    h2 {
      text-align: right;
      margin-right: 20vw;
      padding-top: 70vh;
    }
  }

  .simple {
    width: 50% !important;
    position: relative !important;
    background-position: center;

    h2 {
      text-align: center;
      padding-top: 50vh;
      margin: 0;
    }
  }

  @mixin vs ($img) {
    @include background-img($img, false);

    position: absolute;

    width: 100%;
    height: inherit;
    padding: 0;

    a, & {
      height: inherit;
    }

    .inner {
      background-color: $secondary-color;
      height: inherit;
      opacity: 0;
    }

    h2 {
      font-size: 5vw;
      color: $font-color;
      margin-top: 0;
      font-family: 'Orbitron', sans-serif;
    }
  }

  .human {
    @include vs('../img/human2.jpg');
    //.vs('vs.jpg');
  }

  .comp {
    @include vs('../img/ai.jpg');
    //.vs('vs.jpg');
  }
}

#rules.video {

  padding-top: 10vh;
  margin-bottom: 0;
  height: 100vh;
  width: 75vw;

  .video-container {
    height: auto;
    width: auto;

    .iframe {
      height: inherit;
      width: auto;
    }
  }
}