.rules, .authors {
  padding: 10px;

  img {

    @media #{$medium-and-up} {
      width: 30vw;
    }

    @media #{$medium-and-down} {
      width: 40vw;
    }

    @media #{$small-and-down} {
      width: 50vw;
    }

    margin: 10px;
  }

  & .right {
    img {
      float: right;
    }
  }

  & .left {
    img {
      float: left;
    }
  }

  font-family: 'Orbitron', sans-serif;

  @media #{$medium-and-up} {
    font-size: 150% !important;
  }

  @media #{$medium-and-down} {
    font-size: 4vw;
  }

  @media #{$small-and-down} {
    font-size: 5vw;
  }
}