extends layout

block title
    title #{title} | Новая игра

block content
    .new-game
        .container
            .row
                h1 Новая игра
            .row
                form
                    .input-field.col.s12
                        label(for="count_lunk") Число лунок
                        p.range-field
                            input#count_lunk(type="range", min="3", max="8")

                    .input-field.col.s12
                        label(for="count_stouns") Число камней
                        p.range-field
                            input#count_stouns(type="range", min="6", max="12")

                    block field

                    .col.s12
                        a.btn.waves-effect.waves-light(href= baseUrl+"game.html" type="submit" name="action") Создать игру
                            i.material-icons.right send
